.button-rounded{
  border-radius: 30px;
}

.btn-login{
  max-width: 75px;
}

.btn-signup{
  max-width: 75px;
}

.left-rounded{
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.right-rounded{
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
